h3 {
    /* Tira esse style porque é só pros comentários para você alterar */
    color: red;
    font-weight: bold;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    color: #050a30;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #050a30;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 2px solid white;
}


body {
    background-color: white;
    text-align: center;
    height: 100vh;
}

header img {
    height: 100px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px;
}

main section {
    width: 80%;
    margin: 20px 0;
}

main section img {
    width: 30%;
    margin: 10px 0;
    border-radius: 10px;
}

.imagem-grande {
    width: 90%;
}

main section img:hover {
    border: #2542a7 1px solid;
}

.div-especial {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 90%;
}


.div-especial div,
.div-especial section {
    margin: 0 10px;
    flex: 1 1 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.div-especial img {
    width: 100%;
}

h1 {
    font-size: 2rem;
    text-align: start;
    color: #050a30;
}

hr {
    border: pink 1px solid;
    width: 90%;
    margin: 10px 0;
}

.hr-especial {
    width: 100%;
}

h2 {
    font-size: 1.5rem;
    text-align: start;
    color: #050a30;
    margin-top: 20px;
}

p {
    text-align: justify;
}

pre {
    text-align: start;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 10px 0;
    border-left: white 5px solid;
    transition: 0.5s;
}

pre:hover {
    box-shadow: 0 3px 10px #050a30;
    transform: translateY(-3px);
}

.laranja {
    color: orange;
}

.roxo {
    color: purple;
}

.verde {
    color: white;
}

ul {
    margin-top: 10px;
    text-align: start;
}

.center {
    text-align: center;
}

iframe {
    border: 2px #171810 dotted;
    border-radius: 10px;
}

#redes {
    margin-top: 10px;
}

#redes a {
    border: 1px solid white;
    padding: 3px;
    color: white;
}

#redes a:hover {
    font-weight: bold;
    background: linear-gradient(to right, rgb(255, 0, 128), rgb(200, 37, 157), rgb(140, 71, 153), rgb(68, 46, 159), rgb(0, 50, 160));
}

.quest {
    display: none;
}

.programacao {
    background-color: rgba(255, 255, 255, 0.5);
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.programacao:hover {
    box-shadow: 0 3px 5px gray;
    transform: translateY(-3px);
}

button {
    margin-top: 10px;
    padding: 3px 5px;
    border: 3px solid #0366fa;
    background-color: #0366fa;
    color: white;
    transition: 0.5s;
}

button:hover {
    background: linear-gradient(to right, rgb(255, 0, 128), rgb(200, 37, 157), rgb(140, 71, 153), rgb(68, 46, 159), rgb(0, 50, 160));
    background-color: transparent;
    font-weight: bold;
    box-shadow: 0 0 2px #0366fa;
}

footer {
    background: linear-gradient(to right, rgb(237, 34, 36), rgb(243, 91, 34), rgb(249, 150, 33), rgb(245, 193, 30), rgb(241, 235, 27) 27%, rgb(241, 235, 27), rgb(241, 235, 27) 33%, rgb(99, 199, 32), rgb(12, 155, 73), rgb(33, 135, 141), rgb(57, 84, 165), rgb(97, 55, 155), rgb(147, 40, 142));
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

header {
    background: linear-gradient(to right, rgb(237, 34, 36), rgb(243, 91, 34), rgb(249, 150, 33), rgb(245, 193, 30), rgb(241, 235, 27) 27%, rgb(241, 235, 27), rgb(241, 235, 27) 33%, rgb(99, 199, 32), rgb(12, 155, 73), rgb(33, 135, 141), rgb(57, 84, 165), rgb(97, 55, 155), rgb(147, 40, 142));
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
}

a:hover {
    background-color: #555;
}

/* Estilos para a barra de navegação no desktop */
.nav-links {
    display: flex;
}

.nav-links a {
    margin: 0 10px;
}

/* Estilos para o ícone de hambúrguer */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 4px;
    background-color: white;
    margin: 4px 0;
}

/* Media query para telas pequenas (celulares) */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        width: 100%;
        text-align: center;
    }

    .nav-links a {
        display: block;
        padding: 15px;
        width: 100%;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links.active {
        display: block;
    }

    button {
        width: 90%;
        height: auto;
    }

    a {
        padding: 0px;
    }

    p {
        padding: 0px;
        text-align: center;
    }

    img {
        justify-content: center;
        display: block;
    }

    iframe {
        width: 125%;
        height: auto;
    }
}

.logo_cunha {
    height: 70px;
    width: 70px;
}

.img-especial {
    width: 450px;
    height: 275px;
}